{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="auth-container">
    <div class="auth-card">
        <h3>{% trans "Sign In" %}</h3>

        <p>{% blocktrans %}Welcome back to the foodie! To view your profile, leave a comment or share a recipe, please log in. If you have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-outline-success mt-3" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>
</div>

{% endblock %}
