{% load crispy_forms_tags %}

<div id="empty-form-equipment" style="display: none;">
    <div class="formset-form mb-3 border p-3 rounded">
        {{ equipment_formset.empty_form|crispy }}
        <button type="button" class="btn btn-outline-danger remove-form">Remove</button>
    </div>
</div>
<div id="empty-form-ingredient" style="display: none;">
    <div class="formset-form mb-3 border p-3 rounded">
        {{ ingredient_formset.empty_form|crispy }}
        <button type="button" class="btn btn-outline-danger remove-form">Remove</button>
    </div>
</div>
<div id="empty-form-instruction" style="display: none;">
    <div class="formset-form mb-3 border p-3 rounded">
        {{ instruction_formset.empty_form|crispy }}
        <button type="button" class="btn btn-outline-danger remove-form">Remove</button>
    </div>
</div>