{% extends 'base.html' %}
{% load static %}
{% load profile_tags %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <!-- Left Column - Recipe Details -->
        <div class="col-md-8">
        
            <!-- Recipe Content -->
            <div class="recipe-content">
                {% include "recipes/recipe_detail/partials/recipe_header.html" %}
                {% include "recipes/recipe_detail/partials/recipe_description.html" %}
                {% include "recipes/recipe_detail/partials/recipe_ingredients.html" %}
                {% include "recipes/recipe_detail/partials/recipe_instructions.html" %}
                {% include "recipes/recipe_detail/partials/comments_section.html" %}
            </div>
            
        </div>

        <!-- Right Column - Author Profile -->
        <div class="col-md-4">
            {% include "recipes/recipe_detail/partials/author_card.html" %}
        </div>
        
    </div>
</div>

{% endblock %}

<!-- JavaScript Includes -->
{% block scripts %}
{{ block.super }}  <!-- Include JS from base.html -->
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}